<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <?xml version="1.0" standalone="no"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
         "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
         height="165%" viewBox="0 0 5259.000000 921.000000"
         preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,921.000000) scale(0.100000,-0.100000)"
        fill="#e32" stroke="none">
        <path d="M26640 4695 l0 -4515 963 2 962 3 3 1878 2 1877 1635 0 1634 0 3 753
        c2 413 0 774 -4 802 -9 60 -32 94 -81 118 -36 18 -99 19 -1607 18 l-1570 -2 0
        951 0 951 2108 -2 2107 -2 47 21 c57 25 79 63 81 141 1 31 1 386 -1 789 l-2
        732 -3140 0 -3140 0 0 -4515z"/>
        <path d="M940 4610 l0 -4533 1603 6 c1511 7 1814 12 2067 38 1258 126 2085
        918 2201 2107 17 168 6 521 -21 696 -138 905 -628 1499 -1474 1789 l-127 43
        23 21 c13 12 66 35 118 52 125 42 316 135 423 205 473 315 776 814 874 1437
        24 153 24 526 0 682 -92 602 -352 1077 -792 1445 -299 251 -686 424 -1100 493
        -204 34 -476 39 -2162 46 l-1633 6 0 -4533z m3477 2897 c308 -62 551 -242 678
        -502 71 -145 88 -222 89 -410 1 -177 -12 -258 -66 -397 -118 -309 -422 -516
        -818 -558 -56 -6 -462 -10 -978 -10 l-883 0 3 933 c2 512 7 940 12 950 8 18
        48 18 945 14 818 -3 946 -6 1018 -20z m-197 -3577 c344 -24 537 -76 722 -196
        240 -155 385 -402 419 -713 36 -331 -64 -646 -270 -851 -172 -172 -385 -260
        -703 -292 -174 -18 -1855 -16 -1898 2 l-30 12 0 1024 0 1024 808 0 c444 0 872
        -5 952 -10z"/>
        <path d="M15965 6895 c-55 -12 -156 -30 -225 -39 -727 -97 -1333 -409 -1742
        -896 -260 -309 -452 -716 -537 -1141 -59 -289 -55 -133 -58 -2471 l-3 -2148
        855 0 854 0 4 2033 c3 1792 5 2041 19 2112 58 297 141 473 302 642 143 151
        362 286 580 358 180 60 248 70 471 70 228 -1 318 -16 530 -86 231 -77 390
        -166 524 -294 177 -169 280 -376 333 -671 l23 -129 -4 -1250 c-2 -687 0 -1595
        4 -2018 l8 -767 861 2 861 3 0 2105 c0 2318 3 2206 -61 2520 -171 835 -709
        1482 -1502 1804 -239 97 -405 143 -846 232 l-270 54 -440 -1 c-422 -1 -445 -2
        -541 -24z"/>
        <path d="M22990 6893 c-210 -20 -270 -27 -370 -44 -437 -74 -933 -255 -1291
        -471 -906 -547 -1406 -1398 -1531 -2608 -16 -159 -16 -600 1 -750 109 -983
        540 -1770 1271 -2321 288 -217 694 -416 1070 -524 176 -51 306 -79 592 -130
        l253 -45 311 0 c248 0 321 3 360 15 27 8 114 22 194 30 580 61 1126 228 1555
        475 166 96 585 371 585 384 -1 6 -171 261 -378 566 -259 381 -384 556 -397
        558 -11 1 -55 -23 -100 -56 -236 -169 -574 -339 -859 -431 -265 -86 -486 -122
        -756 -122 -323 -1 -602 54 -905 177 -452 185 -756 500 -920 954 -31 86 -85
        294 -85 328 l0 22 2440 0 2440 0 0 20 c0 57 -21 537 -31 690 -60 998 -398
        1814 -993 2405 -512 508 -1183 808 -1951 874 -110 10 -422 12 -505 4z m242
        -1428 c535 -71 981 -345 1209 -743 91 -159 149 -371 149 -542 l0 -90 -1586 0
        -1587 0 6 143 c6 165 24 241 93 386 165 349 497 634 903 775 95 33 247 69 331
        79 93 10 378 6 482 -8z"/>
        <path d="M35450 6894 c-19 -2 -84 -9 -144 -14 -507 -49 -1082 -240 -1524 -507
        -737 -443 -1210 -1104 -1422 -1987 -179 -742 -155 -1489 66 -2153 269 -803
        825 -1448 1576 -1824 337 -169 629 -260 1133 -356 l250 -47 336 -4 c313 -3
        341 -2 414 17 43 12 93 21 111 21 44 0 242 26 389 51 453 76 919 243 1275 456
        167 100 540 345 540 355 0 4 -171 260 -381 568 -269 397 -386 560 -399 560
        -10 0 -46 -21 -80 -46 -144 -106 -388 -244 -586 -332 -550 -245 -1095 -299
        -1629 -162 -385 99 -684 262 -901 493 -196 209 -343 501 -412 825 l-20 92
        2445 0 2444 0 -5 113 c-4 61 -11 225 -16 362 -17 403 -45 652 -105 931 -311
        1436 -1309 2385 -2706 2570 -108 14 -571 27 -649 18z m505 -1438 c522 -95 934
        -368 1144 -756 84 -156 127 -312 138 -497 l6 -113 -1585 0 -1586 0 -6 23 c-3
        12 -6 48 -6 79 -1 588 590 1168 1303 1277 97 15 486 6 592 -13z"/>
        <path d="M42400 6894 c-19 -2 -80 -9 -135 -15 -619 -66 -1216 -303 -1684 -668
        -618 -481 -1025 -1096 -1206 -1824 -84 -340 -109 -592 -102 -1027 7 -392 29
        -577 102 -870 271 -1082 1051 -1923 2105 -2270 194 -64 338 -99 690 -165 l295
        -55 310 0 c242 0 322 3 365 15 30 8 134 24 230 36 632 74 1222 271 1662 552
        100 64 408 277 432 298 4 4 -164 260 -375 570 -211 309 -387 567 -390 572 -4
        5 -44 -19 -90 -55 -310 -242 -688 -416 -1079 -496 -770 -159 -1381 -46 -1865
        347 -313 253 -509 575 -575 944 -11 61 -20 112 -20 114 0 2 1094 3 2430 3
        l2430 0 0 324 c0 433 -20 672 -81 981 -145 734 -454 1342 -915 1801 -479 477
        -1081 766 -1814 870 -109 15 -630 28 -720 18z m511 -1430 c394 -55 728 -213
        979 -464 106 -106 191 -221 249 -338 72 -142 121 -348 121 -504 l0 -68 -1590
        0 -1590 0 0 74 c0 218 68 429 205 636 71 107 278 312 395 389 220 146 449 237
        699 276 121 19 396 18 532 -1z"/>
        <path d="M47095 6751 c-756 -7 -705 0 -725 -93 -8 -39 -10 -906 -8 -3262 l3
        -3210 30 -9 c48 -15 2714 -15 2975 0 433 26 722 79 1068 198 561 192 1095 561
        1442 995 401 503 644 1130 701 1815 14 171 6 532 -16 695 -114 853 -509 1614
        -1087 2093 -459 380 -1060 624 -1748 712 -468 59 -1240 78 -2635 66z m2145
        -1431 c447 -40 750 -153 1032 -387 428 -355 679 -973 630 -1550 -87 -1033
        -674 -1676 -1630 -1788 -98 -12 -256 -15 -694 -15 l-568 0 0 1873 0 1872 553
        3 c354 2 597 0 677 -8z"/>
        <path d="M9750 6741 c-402 -35 -806 -156 -1145 -343 -1256 -695 -1922 -2215
        -1634 -3728 154 -808 583 -1538 1190 -2026 417 -335 867 -534 1404 -621 88
        -14 169 -18 400 -18 313 1 407 11 655 71 798 195 1505 751 1938 1524 230 413
        370 852 434 1370 20 164 17 681 -5 850 -129 966 -584 1785 -1298 2333 -335
        257 -758 452 -1164 536 -234 48 -561 70 -775 52z m489 -1481 c563 -114 1031
        -570 1240 -1205 50 -151 80 -285 103 -450 16 -117 16 -444 -1 -565 -116 -860
        -638 -1501 -1344 -1652 -144 -30 -380 -30 -524 0 -571 122 -1033 571 -1242
        1207 -85 259 -115 448 -115 730 0 282 30 471 115 730 224 681 740 1147 1355
        1225 101 13 300 3 413 -20z"/>
        </g>
        </svg>


      </a>
    </div>
  </div>
</nav>