<nav class="navbar">
  <div class="container extra">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">
        <?xml version="1.0" standalone="no"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
         "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
        height="250%" viewBox="0 0 5259.000000 921.000000"
         preserveAspectRatio="xMidYMid meet">
          <g transform="translate(0.000000,921.000000) scale(0.100000,-0.100000)"
          fill="#e32" stroke="none">
            <path d="M26640 4695 l0 -4515 963 2 962 3 3 1878 2 1877 1635 0 1634 0 3 753
            c2 413 0 774 -4 802 -9 60 -32 94 -81 118 -36 18 -99 19 -1607 18 l-1570 -2 0
            951 0 951 2108 -2 2107 -2 47 21 c57 25 79 63 81 141 1 31 1 386 -1 789 l-2
            732 -3140 0 -3140 0 0 -4515z"/>
            <path d="M940 4610 l0 -4533 1603 6 c1511 7 1814 12 2067 38 1258 126 2085
            918 2201 2107 17 168 6 521 -21 696 -138 905 -628 1499 -1474 1789 l-127 43
            23 21 c13 12 66 35 118 52 125 42 316 135 423 205 473 315 776 814 874 1437
            24 153 24 526 0 682 -92 602 -352 1077 -792 1445 -299 251 -686 424 -1100 493
            -204 34 -476 39 -2162 46 l-1633 6 0 -4533z m3477 2897 c308 -62 551 -242 678
            -502 71 -145 88 -222 89 -410 1 -177 -12 -258 -66 -397 -118 -309 -422 -516
            -818 -558 -56 -6 -462 -10 -978 -10 l-883 0 3 933 c2 512 7 940 12 950 8 18
            48 18 945 14 818 -3 946 -6 1018 -20z m-197 -3577 c344 -24 537 -76 722 -196
            240 -155 385 -402 419 -713 36 -331 -64 -646 -270 -851 -172 -172 -385 -260
            -703 -292 -174 -18 -1855 -16 -1898 2 l-30 12 0 1024 0 1024 808 0 c444 0 872
            -5 952 -10z"/>
            <path d="M15965 6895 c-55 -12 -156 -30 -225 -39 -727 -97 -1333 -409 -1742
            -896 -260 -309 -452 -716 -537 -1141 -59 -289 -55 -133 -58 -2471 l-3 -2148
            855 0 854 0 4 2033 c3 1792 5 2041 19 2112 58 297 141 473 302 642 143 151
            362 286 580 358 180 60 248 70 471 70 228 -1 318 -16 530 -86 231 -77 390
            -166 524 -294 177 -169 280 -376 333 -671 l23 -129 -4 -1250 c-2 -687 0 -1595
            4 -2018 l8 -767 861 2 861 3 0 2105 c0 2318 3 2206 -61 2520 -171 835 -709
            1482 -1502 1804 -239 97 -405 143 -846 232 l-270 54 -440 -1 c-422 -1 -445 -2
            -541 -24z"/>
            <path d="M22990 6893 c-210 -20 -270 -27 -370 -44 -437 -74 -933 -255 -1291
            -471 -906 -547 -1406 -1398 -1531 -2608 -16 -159 -16 -600 1 -750 109 -983
            540 -1770 1271 -2321 288 -217 694 -416 1070 -524 176 -51 306 -79 592 -130
            l253 -45 311 0 c248 0 321 3 360 15 27 8 114 22 194 30 580 61 1126 228 1555
            475 166 96 585 371 585 384 -1 6 -171 261 -378 566 -259 381 -384 556 -397
            558 -11 1 -55 -23 -100 -56 -236 -169 -574 -339 -859 -431 -265 -86 -486 -122
            -756 -122 -323 -1 -602 54 -905 177 -452 185 -756 500 -920 954 -31 86 -85
            294 -85 328 l0 22 2440 0 2440 0 0 20 c0 57 -21 537 -31 690 -60 998 -398
            1814 -993 2405 -512 508 -1183 808 -1951 874 -110 10 -422 12 -505 4z m242
            -1428 c535 -71 981 -345 1209 -743 91 -159 149 -371 149 -542 l0 -90 -1586 0
            -1587 0 6 143 c6 165 24 241 93 386 165 349 497 634 903 775 95 33 247 69 331
            79 93 10 378 6 482 -8z"/>
            <path d="M35450 6894 c-19 -2 -84 -9 -144 -14 -507 -49 -1082 -240 -1524 -507
            -737 -443 -1210 -1104 -1422 -1987 -179 -742 -155 -1489 66 -2153 269 -803
            825 -1448 1576 -1824 337 -169 629 -260 1133 -356 l250 -47 336 -4 c313 -3
            341 -2 414 17 43 12 93 21 111 21 44 0 242 26 389 51 453 76 919 243 1275 456
            167 100 540 345 540 355 0 4 -171 260 -381 568 -269 397 -386 560 -399 560
            -10 0 -46 -21 -80 -46 -144 -106 -388 -244 -586 -332 -550 -245 -1095 -299
            -1629 -162 -385 99 -684 262 -901 493 -196 209 -343 501 -412 825 l-20 92
            2445 0 2444 0 -5 113 c-4 61 -11 225 -16 362 -17 403 -45 652 -105 931 -311
            1436 -1309 2385 -2706 2570 -108 14 -571 27 -649 18z m505 -1438 c522 -95 934
            -368 1144 -756 84 -156 127 -312 138 -497 l6 -113 -1585 0 -1586 0 -6 23 c-3
            12 -6 48 -6 79 -1 588 590 1168 1303 1277 97 15 486 6 592 -13z"/>
            <path d="M42400 6894 c-19 -2 -80 -9 -135 -15 -619 -66 -1216 -303 -1684 -668
            -618 -481 -1025 -1096 -1206 -1824 -84 -340 -109 -592 -102 -1027 7 -392 29
            -577 102 -870 271 -1082 1051 -1923 2105 -2270 194 -64 338 -99 690 -165 l295
            -55 310 0 c242 0 322 3 365 15 30 8 134 24 230 36 632 74 1222 271 1662 552
            100 64 408 277 432 298 4 4 -164 260 -375 570 -211 309 -387 567 -390 572 -4
            5 -44 -19 -90 -55 -310 -242 -688 -416 -1079 -496 -770 -159 -1381 -46 -1865
            347 -313 253 -509 575 -575 944 -11 61 -20 112 -20 114 0 2 1094 3 2430 3
            l2430 0 0 324 c0 433 -20 672 -81 981 -145 734 -454 1342 -915 1801 -479 477
            -1081 766 -1814 870 -109 15 -630 28 -720 18z m511 -1430 c394 -55 728 -213
            979 -464 106 -106 191 -221 249 -338 72 -142 121 -348 121 -504 l0 -68 -1590
            0 -1590 0 0 74 c0 218 68 429 205 636 71 107 278 312 395 389 220 146 449 237
            699 276 121 19 396 18 532 -1z"/>
            <path d="M47095 6751 c-756 -7 -705 0 -725 -93 -8 -39 -10 -906 -8 -3262 l3
            -3210 30 -9 c48 -15 2714 -15 2975 0 433 26 722 79 1068 198 561 192 1095 561
            1442 995 401 503 644 1130 701 1815 14 171 6 532 -16 695 -114 853 -509 1614
            -1087 2093 -459 380 -1060 624 -1748 712 -468 59 -1240 78 -2635 66z m2145
            -1431 c447 -40 750 -153 1032 -387 428 -355 679 -973 630 -1550 -87 -1033
            -674 -1676 -1630 -1788 -98 -12 -256 -15 -694 -15 l-568 0 0 1873 0 1872 553
            3 c354 2 597 0 677 -8z"/>
            <path d="M9750 6741 c-402 -35 -806 -156 -1145 -343 -1256 -695 -1922 -2215
            -1634 -3728 154 -808 583 -1538 1190 -2026 417 -335 867 -534 1404 -621 88
            -14 169 -18 400 -18 313 1 407 11 655 71 798 195 1505 751 1938 1524 230 413
            370 852 434 1370 20 164 17 681 -5 850 -129 966 -584 1785 -1298 2333 -335
            257 -758 452 -1164 536 -234 48 -561 70 -775 52z m489 -1481 c563 -114 1031
            -570 1240 -1205 50 -151 80 -285 103 -450 16 -117 16 -444 -1 -565 -116 -860
            -638 -1501 -1344 -1652 -144 -30 -380 -30 -524 0 -571 122 -1033 571 -1242
            1207 -85 259 -115 448 -115 730 0 282 30 471 115 730 224 681 740 1147 1355
            1225 101 13 300 3 413 -20z"/>
          </g>
        </svg>
      </a>
    </div>
    <div>
      
    </div>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li class='badge-icon'>
        <a href="#" data-value='LOL'>
          <svg viewBox="0 0 512 512" class="badge_link">
            <g>
            <!-- LOL -->
              <path class="badge__text" d="M147.455 353.512l-49.683-86.117L57.5 290.662h-.003l69.557 120.566 96.895-55.984-19.87-34.447zM323.048 217.15c-20.172-34.966-64.468-46.116-101.644-24.636-37.175 21.48-49.82 65.99-29.65 100.955l.2.345c20.174 34.963 64.47 46.113 101.644 24.634 37.176-21.48 49.82-65.99 29.65-100.953l-.2-.347zm-49.674 65.446c-15.492 8.95-32.755 1.7-41-12.596l-.2-.346c-8.147-14.122-5.864-32.437 9.453-41.286 15.492-8.95 32.755-1.7 41 12.595l.2.345c8.15 14.124 5.864 32.438-9.453 41.288zM446.062 180.982l-56.623 32.716-49.684-86.12-40.274 23.27h-.002l69.557 120.566 96.898-55.985z" fill="#1A1918"></path>          
            </g>
          </svg>
        </a>
      </li>
      <li class='badge-icon hidden-sm'>
        <a href="#" data-value='WIN'>
          <svg viewBox="0 0 512 512" class="badge_link">
            <g>
            <!-- WIN -->
              <path class="badge__text" d="M52.958 317.774l42.141-24.35 35.541 36.473-12.074-50.55 35.149-20.308 38.126 36.015-13.626-49.652 41.559-24.012 29.234 125.628-36.898 21.319-40.412-37.285 11.671 53.891-36.703 21.207-93.708-88.375 M226.954 217.24l44.083-25.47 61.218 106.111-44.083 25.47-61.218-106.111zm-21.406-35.311l45.636-26.367 16.257 28.18-45.636 26.369-16.257-28.181z M284.629 183.917l44.083-25.47 8.52 14.77c1.752-12.673 7.5-27.395 22.453-36.035 22.332-12.903 44.835-6.212 58.626 17.692l40.362 69.963-44.081 25.47-32.178-55.775c-5.271-9.134-13.735-11.239-20.339-7.425-6.602 3.815-9.595 12.54-4.326 21.674l32.179 55.775-44.083 25.471-61.218-106.111" fill="#1A1918"></path>          
            </g>
          </svg>
        </a>
      </li>
      <li class='badge-icon'>
        <a href="#" data-value='OMG'>
          <svg viewBox="0 0 512 512" class="badge_link">
            <g>
            <!-- OMG -->
              <path class="badge__text" d="M134.132 328.064l-.185-.323c-4.997-8.73-15.443-11.98-23.526-7.354-8.245 4.719-10.247 15.095-5.435 23.501l.185.324c4.997 8.73 15.443 11.98 23.526 7.352 8.245-4.719 10.247-15.094 5.435-23.501zm-64.019 36.646l-.185-.324c-14.251-24.897-5.773-58.081 23.327-74.737 28.938-16.564 61.499-7.301 75.749 17.596l.186.323c14.251 24.897 5.773 58.081-23.327 74.738-28.938 16.564-61.499 7.301-75.75-17.596z M152.172 258.714l36.697-21.007 6.756 11.802c1.494-10.514 6.592-22.231 18.717-29.172 11.963-6.847 24.139-6.949 34.356-.348 2.624-12.664 7.999-23.896 21.58-31.67 18.914-10.827 37.587-5.203 48.969 14.681l33.313 58.199-36.697 21.007-26.743-46.721c-4.257-7.436-11.029-9.141-16.364-6.088-5.334 3.054-7.778 10.034-3.521 17.47l26.744 46.721-36.699 21.005-26.743-46.721c-4.257-7.436-11.029-9.141-16.364-6.087-5.334 3.053-7.778 10.033-3.521 17.469l26.743 46.721-36.697 21.007-50.526-88.269 M397.178 170.413l-.186-.324c-4.35-7.598-13.685-10.41-22.577-5.321-9.053 5.182-11.102 14.727-6.66 22.486l.184.323c4.35 7.598 13.594 10.249 22.485 5.16 9.054-5.182 11.195-14.565 6.754-22.324zm-27.513 101.172l-1.36-28.626c12.822-.471 24.534-2.882 36.659-9.823 13.741-7.865 16.944-19.143 9.912-31.43l-1.479-2.586c-1.774 8.527-6.317 19.713-18.604 26.746-22.795 13.047-48.538 6.32-62.512-18.091l-.184-.324c-14.158-24.734-6.692-50.686 13.678-62.346 12.932-7.403 23.307-6.902 33.568-3.976l-5.366-9.377 36.697-21.006 37.755 65.96c9.346 16.327 12.337 29.426 8.88 42.136-3.387 12.456-12.644 24.407-32.367 35.698-19.561 11.197-36.979 16.015-55.277 17.045z" fill="#1A1918"></path>          
            </g>
          </svg>
        </a>
      </li>
      <li class='badge-icon'>
        <a href="#" data-value="CUTE">
          <svg viewBox="0 0 512 512" class="badge_link">
            <g>
            <!-- Cute -->
              <path class="badge__text" d="M70.024 366.258l-.196-.342c-14.975-26.16-7.252-59.867 21.986-76.604 18.98-10.864 36.33-9.9 51.342-1.92l-12.662 29.04c-7.97-3.61-14.983-4.362-22.85.14-10.43 5.97-12.84 19.61-6.38 30.894l.197.342c6.853 11.97 19.564 16.725 30.508 10.46 7.695-4.403 10.598-10.833 12.302-19.753l30.72 3.3c-1.308 17.547-8.725 33.143-29.073 44.79-27.87 15.955-60.918 5.814-75.894-20.35m108.297-43.6l-34.647-60.53 32.488-18.595 28.68 50.1c5.773 10.09 14.207 12.526 22.072 8.024 7.695-4.406 10.377-13.205 4.603-23.293l-28.677-50.1 32.488-18.594 52.95 92.505-32.487 18.597-7.244-12.652c-1.58 11.12-6.116 23.024-19.283 30.56-19.663 11.257-38.9 5.014-50.938-16.018m116.588-62.425l-21.533-37.618-10.943 6.265-14.976-26.164 10.947-6.264-13.41-23.426 32.488-18.596 13.41 23.427 21.544-12.333 14.973 26.16-21.544 12.334 17.91 31.29c3.72 6.5 8.192 7.57 14.177 4.146 4.274-2.447 7.694-5.994 10.55-10.125l14.584 25.475c-3.954 6.577-10.474 13.032-19.537 18.22-19.492 11.158-36.014 9.263-48.64-12.794 M405.197 163.734c-7.07-9.574-16.774-12.646-25.666-7.556-8.547 4.894-10.543 14.89-6.48 25.957l32.147-18.4zm-58.324 44.056l-.196-.342c-15.465-27.017-8.378-59.45 18.98-75.11 31.976-18.304 60.09-3.295 75.653 23.892 1.174 2.052 2.545 4.445 3.647 6.766l-61.9 35.432c8.34 8.62 18.63 9.542 28.718 3.766 7.694-4.404 12.185-10.834 15.135-21.15l26.47 4.6c-2.432 16.374-10.95 31.24-29.417 41.81-29.068 16.638-60.648 9.062-77.09-19.664z" fill="#1A1918"></path>          
            </g>
          </svg>
        </a>
      </li>
      <li class='badge-icon'">
        <a href="#" data-value='TRENDING'>
          <svg viewBox="0 0 512 512" class="badge_link badge-trending">
            <g>
            <!-- Trending -->
              <path class="badge__icon-white" d="M415.588 250.187l-19.801-141.264-131.49 53.377 52.118 30.276-49.233 85.799-85.274-49.538-84.015 146.42 47.059 27.336 56.845-99.07 85.274 49.538 76.401-133.149 52.116 30.276" fill="#fff"></path>         
            </g>
            <g>
              <path class="badge__icon-white" d="M415.588 250.187l-19.801-141.264-131.49 53.377 52.118 30.276-49.233 85.799-85.274-49.538-84.015 146.42 47.059 27.336 56.845-99.07 85.274 49.538 76.401-133.149 52.116 30.276" fill="#fff"></path>
            </g>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class='page-nav'>
    <div class='container extra'>
      <div class=row>
        <div class='col-xs-4 col-sm-2'>
          <a class='page-nav-text first' href="/info">Details</a>
        </div>
        <div class='col-xs-4 col-sm-2'>
          <a class='page-nav-text first' href="/rsvp">RSVP</a>
        </div>
        <div class='col-xs-4 col-sm-2'>
          <a class='page-nav-text first' href="/wedding-party">Party</a>
        </div>
        <div class='col-xs-4 col-sm-2'>
          <a class='page-nav-text first' href="registry">Registry</a>
        </div>
        <div class='col-xs-4 col-sm-2'>
          <a class='page-nav-text first' href="/travel">Travel</a>
        </div>
        <div class='col-xs-4 col-sm-2'>
          <a class='page-nav-text first' href="quiz">Quiz</a>
        </div>
      </div>
    </div>
  </div>
</nav>
