<div class='col-xs-2 option fb left-space'>
  <i class="fa fa-facebook" aria-hidden="true"></i>
</div>
<div class='col-xs-2 option email left-space'>
  <i class="fa fa-envelope-o" aria-hidden="true"></i>
</div>
<div class='col-xs-2 option insta left-space'>
  <i class="fa fa-instagram" aria-hidden="true"></i>
</div>
<div class='col-xs-2 option twitter left-space'>
  <i class="fa fa-twitter" aria-hidden="true"></i>
</div>