<div class="modal fade welcome-modal" id='welcome-modal' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class='row'>
          <div class='col-sm-10 col-xs-9'>
            <h4 class="modal-title">Welcome to Paul and Tahra's (aka The Bones) Wedding Website</h4>
          </div>
          <div class='col-sm-2 col-xs-3'>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div class='col-xs-12 col-sm-6'>
            <%= image_tag('welcome.jpg', class: 'welcome-pic') %>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <h2>July 16, 2017 @ Granby Ranch Resort, Granby CO</h2>
            <br>
            <h4>We are so excited to celebrate our wedding day with you in our new state of Colorado!</h4>
            <h4>Thank you for taking the time to travel and spend the weekend of July 16, 2017 with us.</h4>
            <h4>We can't wait to see you!</h4>
            <br>
            <br>
            <br>
            <p><em>Thank you <a href='https://www.buzzfeed.com/' target='_blank'>Buzzfeed</a> for the Website inspiration<em></p>
          </div>
        </div>
        <!-- <iframe width="100%" height="400" src="https://www.youtube.com/embed/qQA5kG9KekE" frameborder="0" allowfullscreen></iframe> -->
      </div>
      <div class="modal-footer">
        <p><b>Who are the the Bones??</b></p>
        <p>Tahra was nicknamed T-Bone during her freshman year of Lacrosse at American University. After Tahra and Paul started dating the LAX girls began referring to them as Mr and Ms Bone or the Bones.</p>
      </div>
    </div>
  </div>
</div>