<div class="modal fade welcome-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class='row'>
          <div class='col-xs-11'>
            <h4 class="modal-title">Welcome to Paul and Tahra's (aka The Bones) Wedding Website</h4>
          </div>
          <div class='col-xs-1'>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/qQA5kG9KekE" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <p><b>Who are the the Bones??</b></p>
        <p>Tahra was nicknamed T-Bone during her freshman year of Lacrosse at American University. After Tahra and Paul started dating the LAX girls began referring to them as Mr and Ms Bone or the Bones.</p>
      </div>
    </div>
  </div>
</div>