<div class='container extra'>
  <div class='row'>
    <div class='col-md-8 col-xs-12'>
      <h1 class='article-title'>
        10 things you absolutely need to know about the Johnson/Grever wedding
      </h1>
      <p class="description">Because it's going to be awesome and you want to maximize the bone zone</p>
      <span class="post-datetimes">
        <span id="update_posted_time_4418899" class="buzz-datetime converted_buzz_datetime">engaged on  July 30, 2016, at 2:30 p.m.</span>
      </span>
      <div class="row">
        <div class='col-xs-2'>
          <%= image_tag('author.jpg', class: 'byline_avatar') %>
        </div>
        <div class="col-xs-10 byline_body">
          <a class="byline_author" data-action="user/username">Tahra Johnson & Paul Grever</a>

          <div class="byline_title">
            Bride and Groom,
            <br>
            Granby Ranch, Colorado USA
          </div>
        </div>
      </div>
      <div class='rows social-media'>
        <%= render 'partials/social_media' %>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          1. The who, what, where, why, when...
        </div>
        <div class='col-xs-12'>
          <%= image_tag("granby-overview.png", class: 'overview') %>
          <div class='item-text'>
            <p><b>Who:</b> Paul Grever and Tahra Johnson</p>
            <p><b>What:</b> The Grever/Johnson wedding aka the wedding of the century!!</p>
            <p><b>Where:</b> <a target='_blank' href='https://www.google.com/maps/place/1000+Village+Rd,+Granby,+CO+80446'>Granby Ranch, Grandby, CO</a></p> 
            <p><b>When:</b> <a target='_blank' href='https://www.google.com/maps/place/1000+Village+Rd,+Granby,+CO+80446'>Granby Ranch, Grandby, CO</a></p> 
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='ads'>
        
      </div>
    </div>
  </div>
</div>
