<div class='container extra'>
  <div class='row'>
    <div class='col-md-8 col-xs-12'>
      <h1 class='article-title'>
        13 things you need to know to have best time at the Johnson Grever wedding
      </h1>
      <p class="description">Because it's going to be awesome and you want to maximize the bone zone</p>
    </div>
  </div>
</div>
