<div class='container wedding-info'>
  <div class='row text-center '>
    <div class='col-xs-12'>
      <h1 class='fancy-font'>
        Weekend Events
      </h1>
    </div>
    <div class='col-xs-6 col-xs-offset-3'>
      <%= image_tag("granby-overview.png", class: 'overview') %>    
    </div>
    <div class='col-xs-12'>
      <h3>
        Granby Ranch, Granby, CO
      </h3>
    </div>
  </div>
  <hr>
  <div class='row text-center'>
    <div class='col-xs-12'>
      <h2 class="fancy-font">The Night Before</h2>
    </div>
    <div class='col-xs-12'>
      <h3>July 15, 2017 8:00pm</h3>
    </div>
    <br>
    <div class='col-xs-6 col-xs-offset-3'>
      <h4>Please join us at the Inn at Silver Creek in the Aspen room for light appetizers, drinks and getting to know your fellow wedding guests.</h4>
      <br>
      <p><b>Attire:</b> Colorado Mountain Casual. Don your best flannel and and jeans.</p>
      <br>
      <a href="https://www.google.com/maps/place/Inn+at+Silvercreek/@40.062699,-105.923548,15z/data=!4m5!3m4!1s0x0:0x5b6bacd57c361c8e!8m2!3d40.062699!4d-105.923548" target="_blank">
        <p><b>The Aspen Room at the Inn at Silver Creek</b></p>
        <p>62927 US-40</p>
        <p>Granby, CO 80446</p>
      </a>
    </div>
  </div>
  <hr>
  <div class='row text-center'>
    <div class='col-xs-12'>
      <h2 class='fancy-font'>The Main Event</h2>
    </div>
    <div class='col-xs-12'>
      <h3>The Ceremony at Vista Ridge</h3>
      <h3>July 16, 2017 3:00pm</h3>
      <h4>Please arrive to ski lift 2:15</h4>
    </div>
    <div class='col-xs-12'>
      <h4>The ceremony will take place on top of Granby Ranch's East Mountain at Vista Ridge.</h4>
      <h4>Please arrive at <b>2:15</b> to the Quick Draw Express lift located just behind Basecamp 1</h4>
    </div>
    <div class='col-xs-12'>
      <h4>Reception and Cocktail hour at Granby's Main Lodge will occur right after the ceremony.</h4>
    </div>
  </div>
</div>