<div class='container'>
  <div class='row text-center'>
    <h1>
      The wedding of Tahra Johnson and Paul Grever
    </h1>
    <h3>
      Granby Ranch, Granby, CO
    </h3>
    <h3>
      July 16, 2017
    </h3>
  </div>
  <div class='row'>
    <div class='col-xs-2'>
      <h4>The Wedding</h4>
    </div>
    <div class='col-xs-offset-1 col-xs-9'>
      <p>The wedding will take place on July 16, 2017 at the Granby Ranch Resort</p>
    </div>
    
  </div>
</div>