<div class='container'>
  <div class='row text-center'>
    <h1>Registry Information for Grever/Johnson Wedding</h1>
  </div>
  <div class='row text-center'>
    <h3>Below you will find links to our registries!</h3>
  </div>
  <hr>
  <div class='row'>
   <div class='center-block'>
     <%= image_tag("rei_logo.png", class: ' blah center-block' ) %>
   </div>
   <div class='col-xs-12 text-center'>
     <a href="https://www.rei.com/GiftRegistryDetails/15148892" target="_blank"><h3>Click here to view our REI Registry - GR151488924</h3></a>
   </div>
   <br>
   <br>
   <div class='col-xs-7'>
     <h4>Or have REI scan the barcode here to access our Registry:</h4>
   </div>
   <div class='col-xs-5'>
     <%= image_tag("rei-bar-code.jpg") %>
     <p>Registry Number: GR151488924</p>
   </div>
  </div>
  <hr>
  <div class='row'>
    <a class="zola-registry-embed" href="https://www.zola.com/registry/tahraandpaul" data-registry-key="tahraandpaul">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
  </div>
</div>
