<div class='container text-center'>
  <div class='col-xs-8 col-xs-offset-2'>
    <div class='row'>
      <h1>Travel And Lodging Information</h1>
    </div>
    <hr>
    <div clas='lodging'>
      <div class='row'>
        <h2>Lodging For Granby Ranch</h2>
        <p>Stay in a beautiful slopeside condo, townhome, cabin, or luxury home at Granby Ranch, and you'll feel truly at home during your Colorado mountain getaway. Or stay at the base of the mountain at the Silver Creek Inn!.</p>
      </div>
      <div class='row'>
        <%= image_tag("ski_map.png", class: 'overview travel') %>
      </div>
      <div class='row'>
        <ul class="list-group">
          <li class="list-group-item"><p><b><a href='http://www.granbyranch.com/granby-ranch-lodging/lodging-overview.html' target='_blank'>BaseCamp One:</a></b> One-, two-, and three-bedroom condominiums are located just steps from Ski Granby Ranch's Quickdraw Lift and Base Camp Lodge at Granby Ranch.</p>
          <p>Book online at <a href='http://www.granbyranch.com/granby-ranch-lodging/lodging-overview.html' target='_blank'>http://www.granbyranch.com</a></p>
          <p>Email <a href='mailto:reservationcenter@granbyranch.com?subject=Grever%20Johnson%20Wedding%20Lodging'>reservationcenter@granbyranch.com</a></p>
          <p>Call <b>1.888.850.4615</b></p>
          </li>
          <li class="list-group-item"><p><b><a href='http://www.granbyranch.com/granby-ranch-lodging/lodging-overview.html' target='_blank'>Slopeside Homes:</a></b> Slopeside Homes: Condos, homes, and hotel rooms include Mountainside, Kicking Horse, Base Camp One, and Summit with ski-in/ski-out options.</p>
          <p>Book online at <a href='http://www.granbyranch.com/granby-ranch-lodging/lodging-overview.html' target='_blank'>http://www.granbyranch.com</a></p>
          <p>Email <a href='mailto:reservationcenter@granbyranch.com?subject=Grever%20Johnson%20Wedding%20Lodging'>reservationcenter@granbyranch.com</a></p>
          <p>Call <b>1.888.850.4615</b></p>
          </li>
          <li class="list-group-item"><p><b><a href='http://innatsilvercreek.com/' target='blank'>The Inn at SilverCreek:</a></b> Please call the reservations department at <b>1-888-878-3077 x 2</b> to make a reservation. You must mention the “Johnson-Grever Wedding” to receive discounted group rates.
          <p><b>Sleeping Room Rates:</b></p>
          <ol>
            <p>King: $95 (Fri-Sat), $112 (Sun-Thurs)</p>
            <p>Studio: $104 (Fri-Sat), $122 (Sun-Thurs)</p>
            <p>Loft: $122 (Fri-Sat), $140 (Sun-Thurs)</p>
            <p>Studio Suite: $148 (Fri-Sat), $166 (Sun-Thurs)</p>
            <p>Master Suite: $176 (Fri-Sat), $194</p>
          </ol>
          <p> This rate is subject to occupancy tax of 5.7% and resort fee of 9%. 2 night minimum for Friday and Saturday reservations. <a href='http://innatsilvercreek.com/'' target='_blank' >http://innatsilvercreek.com/</a></p>
          <p><b><a href='mailto:reservations@alderwoodgroup.com?subject=Reservations%20Inquiry%20from%20Inn%20at%20SilverCreek'>reservations@alderwoodgroup.com</a></b></p>
          </li>
          <li class='list-group-item'><b><a href='https://www.vrbo.com/' target='_blank'>VRBO:</a></b> Rent homes directly from owners. Just make sure to search Granby Ranch Resort.</li>
          <li class='list-group-item'><b><a href='https://www.airbnb.com/' target='_blank'>Airbnb:</a></b> Rent homes directly from owners. Just make sure to search Granby Ranch Resort.</li>
          <li class='list-group-item'><b><a href='https://www.homeaway.com)' target='_blank'>Home Away:</a></b> Rent homes directly from owners. Just make sure to search Granby Ranch Resort.</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class='travel'>
      <div class='row'>
        <h2>Travel to Granby Ranch Resort</h2>
        <p>Granby Ranch is located just 90 minutes from Denver and 15 minutes from Winter Park, Colorado and the western entrance of Rocky Mountain National Park.</p>
      </div>
      <div class='row'>
        <%= image_tag("a-train.jpg", class: 'overview travel') %>
      </div>
      <div class='row end'>
        <ul class="list-group">
          <li class='list-group-item'><p><b>Traveling by Automobile:</b> From the Denver International Airport</p>
          <p>Take PENA South to I-70 West.</p>
          <p>Take I-70 West to the US-40 W exit.</p>
          <p>Exit 232 toward Empire/Granby.</p>
          <p>Merge onto US-40 W over Berthoud Pass.</p>
          <p>Continue 15 miles past Winter Park toward Granby, CO.</p>
          <p>Turn right onto Village Road, just before City Market.</p>
          <p>Continue two miles to Granby Ranch.</p>
          </li>
          <li class='list-group-item'><p><b>Traveling by Trains:</b> From the Denver International Airport</p>
          <p>Take RTD's <b>A train</b> Westbound to Union Station.</p>
          <p>At Union Station take the <b>5 California Zephyr to Granby.</b></p>
          <p>Exit Train at Granby Station.</p>
          <p>Drive 4.2 miles South to Granby Ranch. <em>*Note Uber and Lyft have a few cars, but it's not fully reliable.</em></p>
          <p>Return to Denver via <b>6 California Zephyr to Granby.</b></p>
          <p>Return to Denver International Airport <b>A train</b> Eastbound to Denver Airport Station</p>
          <p><a  target="_blank" href="https://www.amtrak.com/find-train-bus-stations-train-routes">Amtrak Train Schedule/Booking</a></p>
          </li>
          <li class='list-group-item'>
            <p><b>Traveling by Bus:</b> From the Denver International Airport</p>
            <p>Take RTD's <b>A train</b> Westbound to Union Station.</p>
            <p>Take Train to Granby via Greyhound or Amtrack Bus.</p>
            <p><a  target="_blank" href="https://www.amtrak.com/find-train-bus-stations-train-routes">Amtrak Bus Schedule/Booking</a></p>
            <p><a  target="_blank" href="https://www.greyhound.com/en/ecommerce/schedule ">Greyhound Bus Schedule/Booking</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>