// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

body { 
  font-family: 'Proxima Nova', Helvetica, sans-serif !important;
  font-size: 12px;
}

nav.navbar { 
  padding: 20px 15px;
}

nav .container, .container.extra {
  padding-left: 15px;
  padding-right: 15px;
}

.badge_link {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fe0;
    box-shadow: .8px .8px .2px #ccc;
    &.badge-trending {
      background-color: #e32;
    }
}
nav li.badge-icon {
  background-color: transparent;
  &:hover {
    top: 2px;
  }
}
.nav > li > a:hover { 
  background-color: transparent !important;
}

.description {
  font-size: 17px;
  line-height: 23px;
  color: #333;
  margin: 0px 0px 11px 0px;
}

.article-title {
  font-weight: 600;
}

.page-nav {
  background-color: #eaeaea;
  margin-right: -15px;
  margin-left: -15px;
  min-height: 50px;
  margin-top: 40px;
  .page-nav-text { 
    color: #111;
    height: 50px;
    font-size: 21px;
    display: block;
    padding: 12px 20px 16px;
    &:hover {
      background: #fff;
      cursor: pointer;
      text-decoration: none;
    }
    &.first {
      margin-left: -20px;
    }
  }
}

.post-datetimes span.buzz-datetime {
    display: block;
    text-transform: none;
    letter-spacing: -.02em;
    padding-left: 0;
    font-weight: normal;
    font-size: 10px;
    color: #999;
    min-height: 16px;
  }

.post-datetimes {
    margin: 20px 0;
    display: block;
    min-height: 10px;
}

.byline_body {
  line-height: 19px;
}

.byline_title {
    font-size: 17px;
    color: #444;
}

.byline_author {
    font-size: 17px;
    font-weight: 600;
}

img.byline_avatar {
    width: 90%;
}

.social-media {
  min-height: 40px;
  margin: 20px 0px;
  padding-left: 13px;
  .option {
    height: 40px;
    &.fb {
      background-color: #3B5998;
    }
    &.insta {
      background-color: #9b6954;
    }
    &.email {
      background-color: #666666;
    }
    &.twitter { 
      background-color: #6aadd1;
    }
  }
  i {
    height: 100%;
    color: #fff;
    &.fa {
      font-size: 3.0em;
      &.fa-facebook {
        // padding-top: .1em;
      }
    }

  }
}

.left-space {
  margin-right: 10px;
}
.list-items {
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
  color: #121212;
  padding: 0 0 8px 0;
  margin: 20px 0 25px 0px ;  
}
.overview {
  width: 100%;
  &.travel {
    padding-bottom: 40px;
    padding-top: 20px;
  }
}


.item-text {
  padding: 16px 0 12px 0;
  font-size: 17px;
  line-height: 23px;
  color: #222;
  // margin: 20px 0px 20px 0px;
}

.ads {
  border: 2px solid #000000;
  height: 600px;
  width: 100%
}

.things-to-do a {
  color: #07e;
  text-decoration: none;
  padding-bottom: 30px;
  &:hover {
    color: #e32;
    text-decoration: none;
  }    
} 

.welcome-modal .modal-footer {
  text-align: left;
}

.welcome-pic {
  width: 100%;
}


@media (min-width: 768px) {
  nav .container, .container.extra {
    padding-left: 50px;
    padding-right: 50px;
  }
  .page-nav {
    margin-top: 10px;
  }
}

